<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags :: head('MyFotoAlbum')" >
</head>
<body>
	
	<div>
		
		<!-- Intestazione -->
		<header th:replace="frags :: header()">
			
		</header>
		
		<!-- Sezione Foto -->
		<main>
						
			<div class="container">
				
					<form class="my-4">
				
						<input class=" form-control w-50 " type="text" id="searchbar" name="q" placeholder="search..." th:value="${q}">
						
						<div class="accordion w-25 my-2" id="accordionExample">
							  <div class="accordion-item p-0">
								    <h2 class="accordion-header p-0">
								      	<button class="accordion-button p-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								        	Categorie
								     	</button>
								    </h2>
							    	<div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
								      	<div class="accordion-body">
									        <div class="ps-3" th:each="category : ${categories}"  th:object="${category}">
															
												<label th:for="'category-'+ *{id}" >
													[[*{name}]]
												</label>
												
												<input type="checkbox" name="checked"  th:id="'category-'+ *{id}" th:value="*{id}" th:checked="${checked.contains(category)}" >
													
											</div> 
										</div>	
									</div>
							  </div>
						</div>

						
						<input class="btn btn-primary  " type="submit">
						
					</form>
					
					<th:block th:replace="frags::button('/demigod/photos/create', 'create new photo')">
						
					</th:block>
				
				<div class="row">
					
					<h3 th:if="${photos.size()==0}">
						Non hai nessuna foto
					</h3>
					
				    <div class="col-2 gy-4" th:each="photo : ${photos}" th:object="${photo}" >
						
						<div class="card">
							
							<a th:href="@{'/photos/{id}'(id=${photo.id})}">
							
								<div class="card-img-top">
			
							        <img class="img-fluid" th:src="@{*{url}}" th:alt="*{title}">
									
								</div>
								
								<div class="card-body">
									
								 	<h2 th:text="*{title}"></h2>
				        			<p >[[*{description}]]</p>
				        			
				        			
								</div>
								
							</a>
							
						</div>
				       
				    </div>
				    
				</div>
				
			</div>
			
		</main>
		
	</div>

</body>
</html>
