<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags :: head('MyFotoAlbum')" >
</head>
<body>
	
	<div>
		
		<!-- Intestazione -->
		<header th:replace="frags :: header()">
			
		</header>
		
		<!-- Sezione Foto -->
		<main>
						
			<div class="container">
				
				
				<div class="row">
					
					<h3 th:if="${photos.size()==0}">
						Non hai nessuna foto
					</h3>
					
				    <div class="col-10 gy-4" th:each="photo : ${photos}" th:object="${photo}" >
						
						<div class="row">
							
								<div class="col-3">
			
							        <img class="img-fluid" th:src="@{*{url}}" th:alt="*{title}">
									
								</div>
										
								
								<div class="col-auto">
									
								 	<p >[[*{title}]]</p>
				        	
								</div>
								
								<div class="col-auto">
									
								 	<p >[[*{description}]]</p>
				        	
								</div>
								
								<div class="col-auto">
									
								 	<p >[[*{visible}]]</p>
				        	
								</div>
								
								<div class="col-auto">
									
								 	<form class="col-auto" method="POST" th:action="@{/superadmin/photos/toggleVisible/{id}  (id=${photo.id})}">
							
										<input class="btn btn-danger" type="submit" value="toggle">
										
									</form>
				        	
								</div>
								
							</a>
							
						</div>
				       
				    </div>
				    
				</div>
				
			</div>
			
		</main>
		
	</div>

</body>
</html>
